<%- include("includes/head.ejs"); %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education</title>
</head>
<body>
    <h2>Education :--</h2>

    <% education.forEach(item => { %>
        <div class="education-item">
            <h3><%= item.degree %></h3>

            <p><%= item.institution %></p>
            <p><%= item.year %></p>
            <p><%= item.score %></p>
        </div>
        
    <% }) %>
   
    


    <%- include("includes/footer.ejs"); %>
</body>
</html>